body {
    background-color: #081d1d;
    margin-left: 10%;
    margin-right: 10%;
    color: rgba(255, 255, 255, 0.781);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 310px;
    height: auto;
}

.fix-height {
    height: 310px;
}

.center-text {
    text-align: center;
}

.fancy {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
    border: 2px solid #275458;

}

.testing {
    text-align: center;
    display:inline-table;
}